@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<button class="btn btn-primary my-3" @onclick="GoToHomework">Praca domowa</button>

<input type="text" placeholder="Twój parametr" class="form-control p-2 my-3" @bind-value="Parametr" />

